/* Estilo da página de login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

/* Formulário de login */
.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/* Grupo de formulário */
.login-form-group {
  margin-bottom: 15px;
}

/* Rótulos dos inputs */
.login-label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  text-align: left;
}

/* Estilo dos inputs */
.login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fafafa;
}

/* Botão de envio */
.login-btn-submit {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Efeito hover no botão de login */
.login-btn-submit:hover {
  background-color: #0056b3;
}

/* Estilo da mensagem de erro */
.erro {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .login-form {
      width: 90%;
      padding: 15px;
  }

  .login-btn-submit {
      font-size: 14px;
  }
}
