/* src/components/Header/Header.css */
.header {
  background-color: #f8f9fa;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.titulo {
  max-height: 60px;
  margin-right: 20px;
  /* Garantir que a imagem se ajuste corretamente */
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar li a {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
}

.navbar li a:hover {
  color: #0056b3;
  text-decoration: underline;
}
